<%- include('include/_header') %>
   <div class="big-container">
       <div class="container">
           <h1>Covid-19 Result</h1>
           <h1>Confirmation</h1>
           <div class="data-container">
               <div class="inner-container">
                <p class="title">Full Name</p>
                <p class="data"><%= user.fullName%></p>
               </div>
               <div class="inner-container">
                <p class="title">Passport/Kebele ID</p>
                <p class="data"><%= user.passportNum%></p>
               </div>
               <div class="inner-container">
                <p class="title">Date of Birth</p>
                <p class="data"><%= user.dbo%></p>
               </div>
               <div class="inner-container">
                <p class="title"> Gender</p>
                <p class="data"><%= user.sex%></p>
               </div>
               <div class="inner-container">
                <p class="title">Nationality</p>
                <p class="data"><%= user.nationality%></p>
               </div>
               <div class="inner-container">
                   <p class="title">Result</p>
                   <p class="data"><%= user.result%></p>
                </div>
                <div class="inner-container">
                 <p class="title">Result issued date</p>
                 <p class="data"><%= user.resultDate%></p>
                </div>
               <a href= "/">
                   <button class="button" data-id=<%= user._id%> >DOWNLOAD PDF</button>
               </a>
           </div>
       </div>
   </div>
</body>
</html>